.app {
    display: flex;
    height: 100vh;
    width: 100vw; /* Full width for the app */
    overflow: hidden; /* Prevent overflow issues */
  }
  
  .main-content {
    margin-left: 100px; /* Updated to match the new sidebar width */
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Allow scrolling in the main content area */
    height: 100vh; /* Full height for the main content */
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 5px;
    background-color: #f3f3f3;
    position: sticky; /* Keep the header at the top when scrolling */
    top: 0;
    z-index: 1; /* Ensure it stays above other content */
    width: 100%; /* Adjust to match the sidebar width */
    box-sizing: border-box; /* Include padding in width calculation */
  }
  
  .calendar {
    flex: 1;
    padding: 20px;
    background-color: white;
    overflow-y: auto; /* Scroll if content overflows */
    width: 100%; /* Ensure the calendar takes up the full width of the container */
  }
  
  .showtime {
    padding: 10px;
    margin: 10px 0;
    background-color: #ccc;
    border-radius: 5px;
  }
  
  .showtime-title {
    font-weight: bold;
  }
  
  .showtime-time {
    font-size: 0.9em;
  }
  
  table {
    width: 100%; /* Ensure the table takes up the full width of its container */
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  td {
    min-width: 100px;
    height: 50px;
  }
  