.sidebar {
  width: 100px; /* Updated sidebar width */
  background-color: #333;
  color: white;
  height: 100vh; /* Full height for the sidebar */
  position: fixed; /* Fix the sidebar to the left side of the viewport */
  top: 0;
  left: 0;
  overflow-y: auto; /* Allow scrolling if the sidebar content overflows */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* Distribute space between top and bottom */
  padding-bottom: 20px; /* Optional padding at the bottom */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  width: 100%; /* Make sure the list takes full width */
  text-align: center; /* Center align the content */
  margin-top: 60px; /* Adjust for any header or space needed */
  flex-grow: 1; /* Take up remaining space */
}

.sidebar li {
  padding: 20px 0; /* Padding adjusted to center content vertically */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  font-size: 14px; /* Adjust font size as needed */
}

.sidebar li.logout {
  margin-top: auto; /* Push the logout button to the bottom */
  margin-bottom: -100px; /* Adjust spacing as needed */
}

.sidebar li .fa-icon {
  margin-bottom: 8px; /* Space between icon and text */
}

.sidebar a {
  color: white; /* กำหนดสีของลิงก์เป็นสีขาว */
  text-decoration: none; /* ลบขีดเส้นใต้ */
  display: block; /* Ensure the link takes the full width */
  width: 100%;
  padding: 10px; /* เพิ่ม padding ให้กับลิงก์ */
  box-sizing: border-box; /* Ensure padding is included in width */
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.sidebar a span {
  display: block; /* Make the text appear below the icon */
  margin-top: 5px; /* Optional: space between the icon and the text */
}

.sidebar a:visited {
  color: white; /* กำหนดสีของลิงก์ที่เคยถูกคลิกเป็นสีขาว */
}

.sidebar a:hover {
  color: #ffc700; /* เปลี่ยนสีของตัวอักษรเมื่อ hover เป็นสี #ffc700 */
  background-color: white; /* เปลี่ยนพื้นหลังของลิงก์เป็นสีขาว */
  border: 2px solid #ffc700; /* เพิ่มขอบด้วยสี #ffc700 */
  transform: scale(1.1); /* ขยายขนาดลิงก์เล็กน้อยเมื่อ hover */
  border-radius: 8px; /* เพิ่มความโค้งมนของขอบเมื่อ hover */
}

.sidebar a:active {
  color: #ffc700; /* กำหนดสีของลิงก์เมื่อถูกคลิก */
}

.sidebar .fa-icon {
  font-size: 24px; /* Adjust icon size as needed */
  display: block;
}
